body {
    background-color: #343a40; /* Darker background */
    color: #ffffff; /* Light text */
}

/* Updating link colors to white */
a, a:visited {
    color: #ffffff; /* White color for all links */
}

/* Adjust link appearance on hover and active states for better visibility */
a:hover, a:active {
    color: #cccccc; /* Light grey for hover and active states */
}

.navbar-custom, .navbar {
    background-color: #343a40; /* Slightly lighter blue for contrast */
    color: #ffffff;
}

.footer-custom, footer {
    background-color: #343a40; /* Matching the navbar for consistency */
    color: #ffffff;
}
